form{
    display:flex;
    flex-direction: row;
    width: 50%;
    margin: 5em auto;
    padding: 2em;
    background-color: azure;
}

.inputBuyer{
    display: flex;
    flex-direction: column;
    align-items:center;    
}

.inputBuyer div{
    display: flex;
    justify-content: flex-end;
    margin: 0.5em;
}
label{
    margin:0 2em;
}
input{
    display: flex;
    justify-content: center;
}
.detailBuyer{
    display: flex;
    flex-direction: column;

}

.detailBuyer__total{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-justify:auto;
}

span{
    font-weight: bold;
}