.item-detail{
    display:flex;
    flex-direction: column;
    justify-self: center;
    /*background-color: green;*/
    width: 25em;
    margin-left: 40em;
}
.item-detail-body{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    padding: 1em;
}

.item-detail-body-image{
    background-color: aliceblue;
    height: 100%;
    width: 70%;
}
.item-detail-body-image-left{ 
    position: relative;
    width: 100%;
}

.item-detail-body-right{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
}

.item-detail-body-right-description{
    display: flex;
    justify-items: center;
    align-content: center;
}
.item-detail-body-right-price{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 40%;
}

.item-detail-text{
    text-align: center;

}
.item-detail-body-counter{
    display: flex;
    flex-direction: column;
    background-color: rgba(4, 0, 255, 0.1);
    margin-top: 1em;
    padding: 0.7em;
    border-radius:  0.3em;
    text-align: center;
}
.item-detail-body-btns{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-top: 1em;
    padding-left: 35%;
}

